<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Video Upload</title>
    <meta name="description" content="Node-RED UI Builder - Blank template" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css" />
    <link rel="icon" href="./images/node-blue.ico" />

    <link type="text/css" rel="stylesheet" href="./index.css" media="all" />
  </head>
  <body>
    <div id="app">
      <myheader :keys="user"></myheader>
      <b-container>
        <router-view></router-view>
      </b-container>

      <div class="d-flex justify-content-center custom-margin mb-3">
        <b-button
          class="custom-gray-button"
          v-show="!user.islogged"
          :keys="user"
          v-if="!showLogin"
          @click="showLogin = true"
          >Show Login</b-button
        >
        <b-button
          class="custom-gray-button2"
          v-show="!user.islogged"
          :keys="user"
          v-if="showLogin"
          @click="showLogin = false"
          >Hide Login</b-button
        >
      </div>

      <mylogin
        v-if="showLogin"
        v-show="!user.islogged"
        :keys="user"
        class="mb-5"></mylogin>
    </div>

    <script src="../uibuilder/vendor/socket.io/socket.io.js"></script>
    <script src="../uibuilder/vendor/vue/dist/vue.js"></script>
    <script src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js"></script>
    <script src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue-icons.js"></script>
    <script src="../uibuilder/vendor/http-vue-loader/src/httpVueLoader.js"></script>
    <script src="../uibuilder/vendor/vuex/dist/vuex.js"></script>
    <script src="../uibuilder/vendor/vue-router/dist/vue-router.js"></script>
    <script src="../uibuilder/vendor/axios/dist/axios.js"></script>
    <script src="./uibuilderfe.min.js"></script>
    <script src="./index.js" type="module"></script>
  </body>
</html>
